/* line 1, style.sass */
#wrapper {
  margin-left: 20px;
}

/* line 4, style.sass */
body {
  padding: 0;
  margin: 0;
}

/* line 9, style.sass */
#container {
  padding: 0;
  margin: 0;
}

/* line 14, style.sass */
#left_col {
  position: fixed;
  overflow: auto;
  width: 230px;
}
/* line 19, style.sass */
#left_col a {
  font-size: 14px;
}

/* line 22, style.sass */
#right_col {
  margin-left: 260px;
  width: auto;
}
