body {
  /*background-color: #ff2;*/
  /*padding: 10px;*/
  margin: 0;
  /*background-image: url('http://0.0.0.0:8888/img/ruler.gif');*/
}

#container {
  /*padding-top: 10px;*/
  margin: 0;
  /*height:9000px;*/
  /*background-color:rgba(200,240,179,.5);*/
}

#right_col {
  /*height:9000px;*/
	/*background-color:rgba(0,23,0,.6);*/
  margin-left:220px;
  padding-top: 10px;
  max-width:800px;

}

#left_col {
	/*padding-top:10px;*/
	width: 200px;
	float: left;
  /*height: 9000px;*/
	margin:20px 0 0 0 ;
  /*background-color: rgba(50,0,0,.3);  /*dark red */*/
}

#navList {
    padding: 0;
    margin: 0;
-webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);
box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);
}

#navList li {                                      /* all li */
  list-style: none;
  width:200px;
}
#navList li:last-of-type  a {
    border-bottom:1px solid black;
}

#navList a {                                       /* all a */
  text-decoration: none;
  color:#000;
  padding: 10px 20px;
  border:1px solid black;
  border-bottom: none;
  display: block;
  background-color:#D9EDF7;
}
#navList a:hover { background-color: #9aF;}

  #navList > li {                                  /* root li */
    position: relative;
    /*background-color: #fdd; /* pink */
  }

    #navList ul {                                  /* nested ul */
      display: none;
      z-index: 999;
      position: absolute;
      padding:0px;
      /********padding: 25px 0 0 30px; /* buffer for hover zone */
      background-color: rgba(200,0,0,0.6); /* red */
      /*background-color: #fff;*/
     -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);
box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.5);
    }
    #navList li li {                             /* nested li */
    }

    #navList li li a {                             /* nested  a */
      border-left:none;
      background-color: #9aF;
    }


    #navList li:hover ul ul, #navList li:hover ul ul ul, #navList li:hover ul ul ul ul {
      /*display: none;*/
    }
    #navList li:hover ul, #navList li li:hover ul, #navList li li li:hover ul, #navList li li li li:hover ul {
      /* background for nested ul */
      /*display: block;*/
      /*background-color: #f88;*/
    }