#wrapper
  margin-left: 20px

body
  // background-color: #ff2
  padding: 0
  margin: 0

#container
  // background-color: #ccc
  padding: 0
  margin: 0

#left_col
  // background-color: #dbd
  position: fixed
  overflow: auto
  width: 230px
  a
    font-size: 14px

#right_col
  // background-color: #bdd
  margin-left: 260px
  width: auto


