#wrapper
  margin-left: 20px

body
  // background-color: #ff2
  padding: 0
  margin: 0

#container
  // background-color: #ccc
  padding: 0
  margin: 0

#left_col
  // background-color: #dbd
  position: fixed
  overflow: auto
  width: 200px
  a
    font-size: 16px
    color: #000

  ul
    list-style: none
    background-color: #faf
    margin: 0px
    padding: 0px

  li
    margin-top: 2px
    margin-left: 5px
    padding: 3px 15px
    background-color: #999

    ul
      display: none

#right_col
  // background-color: #bdd
  margin-left: 260px
  width: auto

#stats
  display: none
  position: fixed
  bottom: 0
  margin: 10px
  padding: 5px 8px 2px 5px
  line-height: 1.1em
  font-size: 12px
  background-color: rgba(200,200,180,0.9)



